<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Isoqube" value="https://pkgs.dev.azure.com/Isoqube/_packaging/Isoqube/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Isoqube>
        <add key="Username" value="Isoqube" />
        <add key="Password" value="ssn7a6f7fc24feenfwds7qzfbxko6kylgm7qvo7vaoo54nbcbryq" />
      </Isoqube>
  </packageSourceCredentials>
</configuration>